{% extends 'NeuBoard/base.html' %}
{% load custom %}

{% block main-content %}
    <!--main content start-->
        <section class="main-content-wrapper">
            <div class="pageheader">
                <h1>Genieacs Yaml</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="index">Dashboard</a>
                        </li>
                        <li>话机信息</li>
                        <li class="active"><a href="{% url 'genieacs_log' %}">Genieacs Yaml</a></li>
                    </ol>
                </div>
            </div>

            {% if yaml_content %}
                <div>
                    <pre>{{ yaml_content }}</pre>
                </div>
            {% endif %}


        </section>
        <!--main content end-->



{% endblock %}

{% block define-script %}
        <!--Page Level JS for Demo-->
{#        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>#}
{#        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>#}
{#        <!--Page Level JS -->#}
{#        <script src="/static/assets/plugins/messenger/js/messenger.min.js"></script>#}
{#        <script src="/static/assets/plugins/messenger/js/messenger-theme-future.js"></script>#}
{#        <!--Page Level JS for Demo-->#}
{#        <script src="/static/assets/plugins/messenger/js/demo/location-sel.js"></script>#}
{#        <script src="/static/assets/plugins/messenger/js/demo/theme-sel.js"></script>#}
{#        <script src="/static/assets/plugins/messenger/js/demo/demo.js"></script>#}
{#        <script src="/static/assets/plugins/messenger/js/demo/demo-messages.js"></script>#}
        <script>


        </script>

{% endblock %}