{% extends "TID/base.html" %}

{% block main-content %}
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">

				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Weekly Overview</h3>
							<p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-3">
									<div class="metric">
										<span class="icon"><i class="fa fa-download"></i></span>
										<p>
											<span class="number">1,252</span>
											<span class="title">Downloads</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="metric">
										<span class="icon"><i class="fa fa-shopping-bag"></i></span>
										<p>
											<span class="number">203</span>
											<span class="title">Sales</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="metric">
										<span class="icon"><i class="fa fa-eye"></i></span>
										<p>
											<span class="number">274,678</span>
											<span class="title">Visits</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="metric">
										<span class="icon"><i class="fa fa-bar-chart"></i></span>
										<p>
											<span class="number">35%</span>
											<span class="title">Conversions</span>
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-9">
									<div id="headline-chart" class="ct-chart"></div>
								</div>
								<div class="col-md-3">
									<div class="weekly-summary text-right">
										<span class="number">2,315</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 12%</span>
										<span class="info-label">Total Sales</span>
									</div>
									<div class="weekly-summary text-right">
										<span class="number">$5,758</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 23%</span>
										<span class="info-label">Monthly Income</span>
									</div>
									<div class="weekly-summary text-right">
										<span class="number">$65,938</span> <span class="percentage"><i class="fa fa-caret-down text-danger"></i> 8%</span>
										<span class="info-label">Total Income</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END OVERVIEW -->
                    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
					<div class="row">
						<div class="col-md-12" >
							<!-- RECENT PURCHASES -->
							<div class="panel" style="overflow: auto;">
								<div class="panel-heading">
									<h3 class="panel-title">Recent Purchases</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body no-padding">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>id</th>

                                              <th>时间</th>

                                              <th>型号</th>
                                              <th>工位</th>
                                              <th>IP地址</th>
                                              <th>MAC地址</th>
                                              <th>SIP1分机号</th>
                                              <th>SIP1状态</th>
                                              <th>SIP1注册地址</th>
                                              <!-- <th>SIP1出局</th> -->
                                              <th>SIP2分机号</th>
                                              <th>SIP2状态</th>
                                              <th>SIP2注册地址</th>
                                              <!-- <th>SIP2出局</th> -->
                                              <th>升级地址</th>


											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
                                                  <td>2018-01-03</td>                  <td>14:34:38</td>
                                                  <td title='8F' >8F</td>
                                                  <td title='GXP1625'>GXP1625</td>
                                                  <td title=''></td>
                                                  <td title='10.6.18.28' >
                                                      <a href="http://10.6.18.28" target="_blank">
                                                          <img src="../images/link.png">
                                                      </a>
                                                      10.6.18.28                  </td>
                                                  <td title='00:0b:82:bd:aa:4d' >00:0b:82:bd:aa:4d</td>
                                                  <td title='450036' class="text-stress"><font color=#FF1493><b>450036</b></font></td>
                                                  <td title='1' class="text-stress">1</td>
                                                  <td title='10.4.250.53' class="text-stress">10.4.250.53</td>
                                                  <!-- <td title='10.4.250.53' class="text-stress">10.4.250.53</td> -->
                                                  <td title='450036' class="text-stress"><font color=#FF1493><b>450036</b></font></td>
                                                  <td title='1' class="text-stress">1</td>
                                                  <td title='10.6.250.53' class="text-stress">10.6.250.53</td>
                                                  <!-- <td title='10.6.250.53' class="text-stress">10.6.250.53</td> -->
                                                  <td title='fm.grandstream.com/gs' class="text-stress">fm.grandstream.com/gs</td>

                                                  <td title='online' class='center'><img src='../images/online.png'></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="text-primary" style="font-size:110%;font-weight:700">1</td>
                                                  <td>2018-01-03</td>                  <td>14:34:38</td>
                                                  <td title='8F' class="text-stress">8F</td>
                                                  <td title='GXP1625' class="text-stress">GXP1625</td>
                                                  <td title='' class="text-stress"></td>
                                                  <td title='10.6.18.28' class="text-stress">
                                                      <a href="http://10.6.18.28" target="_blank">
                                                          <img src="../images/link.png">
                                                      </a>
                                                      10.6.18.28                  </td>
                                                  <td title='00:0b:82:bd:aa:4d' class="text-stress">00:0b:82:bd:aa:4d</td>
                                                  <td title='450036' class="text-stress"><font color=#FF1493><b>450036</b></font></td>
                                                  <td title='1' class="text-stress">1</td>
                                                  <td title='10.4.250.53' class="text-stress">10.4.250.53</td>
                                                  <!-- <td title='10.4.250.53' class="text-stress">10.4.250.53</td> -->
                                                  <td title='450036' class="text-stress"><font color=#FF1493><b>450036</b></font></td>
                                                  <td title='1' class="text-stress">1</td>
                                                  <td title='10.6.250.53' class="text-stress">10.6.250.53</td>
                                                  <!-- <td title='10.6.250.53' class="text-stress">10.6.250.53</td> -->
                                                  <td title='fm.grandstream.com/gs' class="text-stress">fm.grandstream.com/gs</td>
                                                  <td>
                                                        <a href=../switchinfo/search_switchinfo.php?linkstyle=linkinfo&mac=00:0b:82:bd:aa:4d><font class='link_font'><img src='../images/switch.png'></font></a>                        <div class="btn-group red-stress">
                                                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                配置选项<span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu menu list-group">
                                                              <li role="separator" class="divider"></li>
                                                            <li><a href='../template/delete.php?table=phoneinfo&id=144&ip=10.6.18.28' target='_blank' onclick="if(confirm('确实要删除数据吗？')) return true;else return false; "><font class='link_font'><img src='../images/delete.png'> 删除数据</font></a></li>
                                                              <li role="separator" class="divider"></li>
                                                              <li role="separator" class="divider"></li>
                                                            <li><a href='../phoneinfo/config/reboot.php?action=reboot&ip=10.6.18.28' target='_blank'>1、重启话机</a></li>
                                                              <li role="separator" class="divider"></li>
                                                            <li><a href='../phoneinfo/config/config.php?action=config&ip=10.6.18.28' target='_blank'>2、配置话机</a></li>
                                                              <li role="separator" class="divider"></li>
                                                            <li><a href='../phoneinfo/config/clear.php?action=clear&ip=10.6.18.28' target='_blank'>3、清除配置</a></li>
                                                              <li role="separator" class="divider"></li>
                                                            <li><a href='../phoneinfo/config/updateinfo.php?action=updateinfo&ip=10.6.18.28' target='_blank'>4、更新话机信息</a></li>
                                                              <li role="separator" class="divider"></li>
                                                            <li><a href='../phoneinfo/config/define.php?action=define&ip=10.6.18.28' target='_blank'>5、自定义话机配置</a></li>
                                                              <li role="separator" class="divider"></li>
                                                            <li><a href='../phoneinfo/config/set_phoneinfo.php?action=ping_status' target='_blank'  onclick="if(confirm('确实要更新网络状态吗？')) return true;else return false;">6、更新网络状态</a></li>
                                                              <li role="separator" class="divider"></li>
                                                            </ul>
                                                        </div>
                                                  </td>
                                                  <td title='online' class='center'><img src='../images/online.png'></td>
											</tr>

										</tbody>
									</table>
								</div>
								<div class="panel-footer">
									<div class="row">
										<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 24 hours</span></div>
										<div class="col-md-6 text-right"><a href="#" class="btn btn-primary">View All Purchases</a></div>
									</div>
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>
						<div class="col-md-6">
							<!-- MULTI CHARTS -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Projection vs. Realization</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<div id="visits-trends-chart" class="ct-chart"></div>
								</div>
							</div>
							<!-- END MULTI CHARTS -->
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<!-- TODO LIST -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">To-Do List</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<ul class="list-unstyled todo-list">
										<li>
											<label class="control-inline fancy-checkbox">
												<input type="checkbox"><span></span>
											</label>
											<p>
												<span class="title">Restart Server</span>
												<span class="short-description">Dynamically integrate client-centric technologies without cooperative resources.</span>
												<span class="date">Oct 9, 2016</span>
											</p>
											<div class="controls">
												<a href="#"><i class="icon-software icon-software-pencil"></i></a> <a href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
											</div>
										</li>
										<li>
											<label class="control-inline fancy-checkbox">
												<input type="checkbox"><span></span>
											</label>
											<p>
												<span class="title">Retest Upload Scenario</span>
												<span class="short-description">Compellingly implement clicks-and-mortar relationships without highly efficient metrics.</span>
												<span class="date">Oct 23, 2016</span>
											</p>
											<div class="controls">
												<a href="#"><i class="icon-software icon-software-pencil"></i></a> <a href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
											</div>
										</li>
										<li>
											<label class="control-inline fancy-checkbox">
												<input type="checkbox"><span></span>
											</label>
											<p>
												<strong>Functional Spec Meeting</strong>
												<span class="short-description">Monotonectally formulate client-focused core competencies after parallel web-readiness.</span>
												<span class="date">Oct 11, 2016</span>
											</p>
											<div class="controls">
												<a href="#"><i class="icon-software icon-software-pencil"></i></a> <a href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<!-- END TODO LIST -->
						</div>
						<div class="col-md-5">
							<!-- TIMELINE -->
							<div class="panel panel-scrolling">
								<div class="panel-heading">
									<h3 class="panel-title">Recent User Activity</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<ul class="list-unstyled activity-list">
										<li>
											<img src="/static/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
											<p><a href="#">Michael</a> has achieved 80% of his completed tasks <span class="timestamp">20 minutes ago</span></p>
										</li>
										<li>
											<img src="/static/img/user2.png" alt="Avatar" class="img-circle pull-left avatar">
											<p><a href="#">Daniel</a> has been added as a team member to project <a href="#">System Update</a> <span class="timestamp">Yesterday</span></p>
										</li>
										<li>
											<img src="/static/img/user3.png" alt="Avatar" class="img-circle pull-left avatar">
											<p><a href="#">Martha</a> created a new heatmap view <a href="#">Landing Page</a> <span class="timestamp">2 days ago</span></p>
										</li>
										<li>
											<img src="/static/img/user4.png" alt="Avatar" class="img-circle pull-left avatar">
											<p><a href="#">Jane</a> has completed all of the tasks <span class="timestamp">2 days ago</span></p>
										</li>
										<li>
											<img src="/static/img/user5.png" alt="Avatar" class="img-circle pull-left avatar">
											<p><a href="#">Jason</a> started a discussion about <a href="#">Weekly Meeting</a> <span class="timestamp">3 days ago</span></p>
										</li>
									</ul>
									<button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>
								</div>
							</div>
							<!-- END TIMELINE -->
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<!-- TASKS -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">My Tasks</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<ul class="list-unstyled task-list">
										<li>
											<p>Updating Users Settings <span class="label-percent">23%</span></p>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width:23%">
													<span class="sr-only">23% Complete</span>
												</div>
											</div>
										</li>
										<li>
											<p>Load &amp; Stress Test <span class="label-percent">80%</span></p>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
													<span class="sr-only">80% Complete</span>
												</div>
											</div>
										</li>
										<li>
											<p>Data Duplication Check <span class="label-percent">100%</span></p>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
													<span class="sr-only">Success</span>
												</div>
											</div>
										</li>
										<li>
											<p>Server Check <span class="label-percent">45%</span></p>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
													<span class="sr-only">45% Complete</span>
												</div>
											</div>
										</li>
										<li>
											<p>Mobile App Development <span class="label-percent">10%</span></p>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
													<span class="sr-only">10% Complete</span>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<!-- END TASKS -->
						</div>
						<div class="col-md-4">
							<!-- VISIT CHART -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Website Visits</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<div id="visits-chart" class="ct-chart"></div>
								</div>
							</div>
							<!-- END VISIT CHART -->
						</div>
						<div class="col-md-4">
							<!-- REALTIME CHART -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">System Load</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<div id="system-load" class="easy-pie-chart" data-percent="70">
										<span class="percent">70</span>
									</div>
									<h4>CPU Load</h4>
									<ul class="list-unstyled list-justify">
										<li>High: <span>95%</span></li>
										<li>Average: <span>87%</span></li>
										<li>Low: <span>20%</span></li>
										<li>Threads: <span>996</span></li>
										<li>Processes: <span>259</span></li>
									</ul>
								</div>
							</div>
							<!-- END REALTIME CHART -->
						</div>
					</div>
				</div>
            </div>
        </div>
{% endblock %}
