{% extends 'NeuBoard/base.html' %}


{% block main-content %}
        <!--main content start-->
        <section class="main-content-wrapper">
            <div class="pageheader">
                <h1>Extensions</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="index">Dashboard</a>
                        </li>
                        <li>话机信息</li>
                        <li class="active"><a href="extensions">分机号</a></li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12 col-lg-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-solid-success widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-bar-chart"></i>
                                        <span class="total text-center">{{ total_count }}</span>
                                        <span class="title text-center">话机信息总量</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-support"></i>
                                        <span class="total text-center">{{ online_num }} / {{ offline_num }}</span>
                                        <span class="title text-center">在线 / 离线</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-envelope-open"></i>
                                        <span class="total text-center">1,680</span>
                                        <span class="title text-center">Messages</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-solid-info widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-user"></i>
                                        <span class="total text-center">12,680</span>
                                        <span class="title text-center">Signups</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">BROWSER STATS</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <ul>
                                            <li><i class="fa fa-circle success-color"></i> 自主CTI</li>
                                            <li><i class="fa fa-circle primary-color"></i> BC三中心</li>
                                            <li><i class="fa fa-circle warning-color"></i> 行政分机</li>
                                            <li><i class="fa fa-circle info-color"></i> Firefox</li>
                                            <li><i class="fa fa-circle default-color"></i> Other</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div id="doughnut-canvas-holder">
                                            <canvas id="doughnut-chart-area" width="137" height="137"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Monthly Goal</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                            <div class="panel-body widget-gauge">
                                <canvas width="160" height="100" id="gauge" class=""></canvas>
                                <div class="goal-wrapper">
                                    <span class="gauge-value pull-left">$</span>
                                    <span id="gauge-text" class="gauge-value pull-left">3,200</span>
                                    <span id="goal-text" class="goal-value pull-right">$5,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- 话机信息表 -->
                <div class='row'>
                    <div class="col-md-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Extensions table</h3>

                                <div class="actions pull-right">
                                    <input type="text" class="search" placeholder="Search ..." style="-webkit-appearance: none !important;
  color: #282323;
  outline: 0;
  height: 30px;
  width: 180px;
  padding: 7px 15px;
  font-size: 0.75em;
  font-weight: normal;
  vertical-align: top;
  background-color: #EDF1F2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  border: none;
  transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
  position: relative;">
                                    <button type="submit" class="btn btn-sm btn-search" style="position:absolute; right:130px;background: none;"><i class="fa fa-search"></i></button>
                                    <a href="{% url 'excel_export' %}" style="display: inline-block;margin-right: 20px;">
                                        <button type="button" class="btn btn-success btn-sm">导出Excel</button>
                                    </a>
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
{#                                    <i class="fa fa-times"></i>#}
                                </div>
                            </div>
                            <div id="main_panel" class="panel-body" style="height:480px; overflow: auto;">

                                <div class="tab-wrapper tab-primary">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#home1" data-toggle="tab">Home</a>
                                        </li>
                                        <li><a href="#profile1" data-toggle="tab">Profile</a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Something</a>
                                                </li>
                                                <li><a href="#">Something Else</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="#">And one more thing</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home1">
                                            <table id="extensions_table" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" /></th>
                                                        <th>ID</th>
                                                        <th>日期</th>
                                                        <th>时间</th>
                                                        <th>位置</th>
{#                                                        <th>型号</th>#}
{#                                                        <th>工位</th>#}
                                                        <th>IP地址</th>
                                                        <th>MAC地址</th>
                                                        <th>SIP1分机号</th>
                                                        <th>SIP1状态</th>
{#                                                        <th>SIP1注册地址</th>#}
                                                        <th>SIP1出局</th>
                                                        <th>SIP2分机号</th>
                                                        <th>SIP2状态</th>
                                                        <th>SIP2注册地址</th>
{#                                                        <th>SIP2出局</th>#}
{#                                                        <th>升级地址</th>#}
                                                        <th>配置选项</th>
                                                        <th>网络</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in extensions_list %}
                                                    <tr>
                                                        <td><input type="checkbox" /></td>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.date|date:"Y-m-d" }}</td>
                                                        <td>{{ item.time|date:"H:i:s" }}</td>
                                                        <td>{{ item.floor }}</td>
{#                                                        <td>{{ item.model }}</td>#}
{#                                                        <td>{{ item.position|default:"" }}</td>#}
                                                        <td>{{ item.ip }}</td>
                                                        <td>{{ item.mac }}</td>
                                                        <td>{{ item.sip1 }}</td>
                                                        <td>{{ item.sip1_status }}</td>
                                                        <td>{{ item.sip1_server }}</td>
{#                                                        <td>{{ item.sip1_outbound }}</td>#}
                                                        <td>{{ item.sip2 }}</td>
                                                        <td>{{ item.sip2_status }}</td>
                                                        <td>{{ item.sip2_server }}</td>
{#                                                        <td>{{ item.sip2_outbound }}</td>#}
{#                                                        <td>{{ item.update_server }}</td>#}
                                                        <td>
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                    选项 <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li><a href="#">Action</a>
                                                                    </li>
                                                                    <li><a href="#">Another action</a>
                                                                    </li>
                                                                    <li><a href="#">Something else here</a>
                                                                    </li>
                                                                    <li class="divider"></li>
                                                                    <li><a href="#">Separated link</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            {% if item.ping_status == 'online' %}
                                                                <button type="button" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                                            {% elif item.ping_status == 'offline' %}
                                                                 <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-times-circle"></i></button>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="profile1">
                                            <p>
                                                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                                            </p>
                                            <table id="extensions_table" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" /></th>
                                                        <th>ID</th>
                                                        <th>日期</th>
                                                        <th>时间</th>
                                                        <th>位置</th>
                                                        <th>型号</th>
                                                        <th>工位</th>
                                                        <th>IP地址</th>
                                                        <th>MAC地址</th>
                                                        <th>SIP1分机号</th>
                                                        <th>SIP1状态</th>
                                                        <th>SIP1注册地址</th>
                                                        <th>SIP1出局</th>
                                                        <th>SIP2分机号</th>
                                                        <th>SIP2状态</th>
                                                        <th>SIP2注册地址</th>
                                                        <th>SIP2出局</th>
                                                        <th>升级地址</th>
                                                        <th>配置选项</th>
                                                        <th>网络</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in extensions_list %}
                                                    <tr>
                                                        <td><input type="checkbox" /></td>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.date|date:"Y-m-d" }}</td>
                                                        <td>{{ item.time|date:"H:i:s" }}</td>
                                                        <td>{{ item.floor }}</td>
                                                        <td>{{ item.model }}</td>
                                                        <td>{{ item.position|default:"" }}</td>
                                                        <td>{{ item.ip }}</td>
                                                        <td>{{ item.mac }}</td>
                                                        <td>{{ item.sip1 }}</td>
                                                        <td>{{ item.sip1_status }}</td>
                                                        <td>{{ item.sip1_server }}</td>
                                                        <td>{{ item.sip1_outbound }}</td>
                                                        <td>{{ item.sip2 }}</td>
                                                        <td>{{ item.sip2_status }}</td>
                                                        <td>{{ item.sip2_outbound }}</td>
                                                        <td>{{ item.sip2_server }}</td>
                                                        <td>{{ item.update_server }}</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                    选项 <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li><a href="#">Action</a>
                                                                    </li>
                                                                    <li><a href="#">Another action</a>
                                                                    </li>
                                                                    <li><a href="#">Something else here</a>
                                                                    </li>
                                                                    <li class="divider"></li>
                                                                    <li><a href="#">Separated link</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            {% if item.ping_status == 'online' %}
                                                                <button type="button" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                                            {% elif item.ping_status == 'offline' %}
                                                                 <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-times-circle"></i></button>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer" style="text-align: center">
                                <i class="fa fa-chevron-circle-down" style="font-size: 18px;cursor:pointer;"></i>
                                <div class="btn-toolbar" role="toolbar" style="float:right;right: 30px;bottom: 8px;">
                                    <div class="btn-group">
                                        {% if extensions_list.has_previous %}
                                            <button type="button" class="btn btn-sm btn-default"><a href="extensions" style="color:#fff;">首页</a></button>
                                            <button type="button" class="btn btn-sm btn-default" value="{{ extensions_list.previous_page_number }}"><a href="?page={{ extensions_list.previous_page_number }}" style="color:#fff;"><<</a></button>
                                        {% endif %}

                                        {% for i in list_pagenum %}
                                            {% if extensions_list.number|add:forloop.counter0 <= num_pages  %}
                                                <button type="button" class="btn btn-sm btn-default" value=""><a href="?page={{ extensions_list.number|add:forloop.counter0 }}" style="color:#fff;">{{ extensions_list.number|add:forloop.counter0 }}</a></button>
                                            {% endif %}
                                        {% endfor %}
                                        {% if extensions_list.has_next %}
                                            <button type="button" class="btn btn-sm btn-default" value="{{ extensions_list.next_page_number }}"><a href="?page={{ extensions_list.next_page_number }}" style="color:#fff;">>></a></button>
                                        {% endif %}
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-default">共{{ num_pages }}页</button>
                                    </div>
{#                                    <div style="margin-left: 10px;float: left;">#}
{#                                        <select name="" id="list-nums" style="padding: 5px 0;">#}
{#                                            <option value="">20 条/页</option>#}
{#                                            <option value="">50 条/页</option>#}
{#                                            <option value="">100 条/页</option>#}
{#                                        </select>#}
{#                                    </div>#}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>
        <!--main content end-->

{% endblock %}

{% block define-script %}extensions.html
        <script>

{#            $('.panel-footer .btn-toolbar button').click(function(){#}
{#                var p = $(this).val();#}
{#                var pageurl = 'extensions' + '?page=' + p#}
{#                alert(pageurl);#}
{#                $.get(pageurl, function(callback){#}
{#                    alert('success');#}
{#                    alert(callback);#}
{##}
{#                });#}
{#            });#}
            // 展开表格高度
            $('.panel-footer .fa').on('click', function(){
                var ele = $('#main_panel');
                var defaultHeight = "480px";
                var autoHeight = ele.css('height', 'auto').height();
                if ($(this).hasClass('fa-chevron-circle-down')){
                    ele.animate({height: autoHeight}, 500);
                    $(this).removeClass('fa-chevron-circle-down').addClass('fa-chevron-circle-up');
                }else{
                    ele.animate({height: defaultHeight}, 500);
                    $(this).removeClass('fa-chevron-circle-up').addClass('fa-chevron-circle-down');
                }
            });



            //DoughnutChart
            var doughnutData = [{
                    value: 300,
                    color: "#1ABC9C",
                    highlight: "#1ABC9C",
                    label: "Chrome"
                }, {
                    value: 50,
                    color: "#556B8D",
                    highlight: "#556B8D",
                    label: "IE"
                }, {
                    value: 100,
                    color: "#EDCE8C",
                    highlight: "#EDCE8C",
                    label: "Safari"
                }, {
                    value: 40,
                    color: "#CED1D3",
                    highlight: "#1F7BB6",
                    label: "Other"
                }, {
                    value: 120,
                    color: "#1F7BB6",
                    highlight: "#1F7BB6",
                    label: "Firefox"
                }

            ];


            $(function(){
                var ctx = document.getElementById("doughnut-chart-area").getContext("2d");
                window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {
                    responsive: true
                });
            });


        </script>

{% endblock %}