{% extends 'NeuBoard/base.html' %}
{% load custom %}

{% block main-content %}
        <!--main content start-->
        <section class="main-content-wrapper">
            <div class="pageheader">
                <h1>Genieacs Info</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="index">Dashboard</a>
                        </li>
                        <li>话机信息</li>
                        <li class="active"><a href="{% url 'genieacs' %}">Genieacs Info</a></li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12 col-lg-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-solid-success widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-bar-chart"></i>
                                        <span class="total text-center">{{ total_count }}</span>
                                        <span class="title text-center">话机信息总量</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-support"></i>
                                        <span class="total text-center">{{ online_num }} / {{ offline_num }}</span>
                                        <span class="title text-center">在线 / 离线</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-envelope-open"></i>
                                        <span class="total text-center">1,680</span>
                                        <span class="title text-center">Messages</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-solid-info widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-user"></i>
                                        <span class="total text-center">12,680</span>
                                        <span class="title text-center">Signups</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">BROWSER STATS</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <ul>
                                            <li><i class="fa fa-circle success-color"></i> 自主CTI</li>
                                            <li><i class="fa fa-circle primary-color"></i> BC三中心</li>
                                            <li><i class="fa fa-circle warning-color"></i> 行政分机</li>
                                            <li><i class="fa fa-circle info-color"></i> Genesys</li>
                                            <li><i class="fa fa-circle default-color"></i> Other</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div id="doughnut-canvas-holder">
                                            <canvas id="doughnut-chart-area" width="137" height="137"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Monthly Goal</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                            <div class="panel-body widget-gauge">
                                <canvas width="160" height="100" id="gauge" class=""></canvas>
                                <div class="goal-wrapper">
                                    <span class="gauge-value pull-left">$</span>
                                    <span id="gauge-text" class="gauge-value pull-left">3,200</span>
                                    <span id="goal-text" class="goal-value pull-right">$5,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- 话机信息表 -->
                <div class='row'>
                    <div class="col-md-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="{%  url 'genieacs' %}">genieacs info table</a></h3>

                                <div class="actions pull-right">

{#                                    <div class="btn-group" style="position:absolute; right:260px;background: none;z-index:2;">#}
{#                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">#}
{#                                            选项 <span class="caret"></span>#}
{#                                        </button>#}
{#                                        <div class="dropdown-menu" role="menu">#}
{#                                            <div><input type="checkbox">启用正则</div>#}
{#                                            <div>sada</div>#}
{#                                            <div>sada</div>#}
{#                                            <div>sada</div>#}
{#                                        </div>#}
{#                                    </div>#}


                                    <input id="search_keywords" type="text" class="search" placeholder="Search ..." style="-webkit-appearance: none !important;color: #282323;
                                      outline: 0;
                                      height: 30px;
                                      width: 280px;
                                      padding: 7px 15px;
                                      font-size: 0.75em;
                                      font-weight: normal;
                                      vertical-align: top;
                                      background-color: #EDF1F2;
                                      -webkit-box-shadow: none;
                                      -moz-box-shadow: none;
                                      box-shadow: none;
                                      -webkit-border-radius: 30px;
                                      -moz-border-radius: 30px;
                                      -ms-border-radius: 30px;
                                      -o-border-radius: 30px;
                                      border-radius: 30px;
                                      border: none;
                                      transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
                                      position: relative;
                                      right: 10px;">
                                    <button id="search_button" type="submit" class="btn btn-sm btn-search" style="position:absolute; right:50px;background: none;"><i class="fa fa-search"></i></button>


                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
{#                                    <i class="fa fa-times"></i>#}
                                </div>
                            </div>
                            <div id="main_panel" class="panel-body" style="height:480px; overflow: auto;">

                                <div class="tab-wrapper tab-primary">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#home1" data-toggle="tab">Home</a>
                                        </li>
                                        <li><a href="#profile1" data-toggle="tab">Profile</a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">配置选项 <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a data-toggle="modal" data-target="#configModal" style="cursor:pointer;">
                                                        配置话机
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="{% url 'excel_export' %}" style="display: inline-block;margin-right: 20px;">
                                                        <button type="button" class="btn btn-success btn-sm">导出Excel</button>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home1">
                                            <table id="genieacs_table" class="table table-striped table-hover-pink">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" /></th>
                                                        <th>ID</th>
                                                        <th>日期<i class="fa" style="padding:0 3px;"></th>
                                                        <th>时间<i class="fa fa-caret-up" style="padding:0 3px;"></i></th>
                                                        <th>位置<i class="fa fa-caret-down" style="padding:0 3px;"></i></th>
                                                        <th>型号</th>
{#                                                        <th>工位</th>#}
                                                        <th>IP地址</th>
                                                        <th>MAC地址</th>
                                                        <th>SIP1分机号</th>
                                                        <th>SIP1状态</th>
                                                        <th>SIP1注册地址</th>
{#                                                        <th>SIP1出局</th>#}
                                                        <th>SIP2分机号</th>
                                                        <th>SIP2状态</th>
                                                        <th>SIP2注册地址</th>
{#                                                        <th>SIP2出局</th>#}
{#                                                        <th>升级地址</th>#}
                                                        <th>配置选项</th>
                                                        <th>网络</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in genieacs_list %}
                                                    <tr>
                                                        <td><input type="checkbox" /></td>

{#                                                        <td>{{ item }}</td>#}
                                                        <td name="id" title="" value="{{ item|truncate_value:"_id" }}">{{ id_num|add:forloop.counter }}</td>
                                                        <td name="date" title="{{ item|truncate_value:"_lastInform"|date:"Y-m-d" }}">{{ item|truncate_value:"_lastInform"|date:"Y-m-d" }}</td>
                                                        <td name="time"title="{{ item|truncate_value:"_lastInform"|date:"H:i:s" }}">{{ item|truncate_value:"_lastInform"|date:"H:i:s" }}</td>
                                                        <td name="floor"></td>
                                                        <td name="ProductClass" title="{{ item|truncate_dict:"VirtualParameters,ProductClass,_timestamp" }}">{{ item|truncate_dict:"VirtualParameters,ProductClass,_value" }}</td>
{#                                                        <td name="position"></td>#}
                                                        <td name="IP" title="{{ item|truncate_dict:"VirtualParameters,IPAddress,_timestamp" }}">{{ item|truncate_dict:"Device,LAN,IPAddress,_value" }}</td>
                                                        <td name="MAC" title="{{ item|truncate_dict:"Device,LAN,MACAddress,_timestamp" }}">{{ item|truncate_dict:"Device,LAN,MACAddress,_value"|parsemac }}</td>
                                                        <td name="SIP1" title="{{ item|truncate_dict:"VirtualParameters,SIP1,_timestamp" }}">{{ item|truncate_dict:"VirtualParameters,SIP1,_value" }}</td>
                                                        <td name="SIP1_Status" title="{{ item|truncate_dict:"VirtualParameters,SIP1 Status,_timestamp" }}">{{ item|truncate_dict:"VirtualParameters,SIP1 Status,_value" }}</td>
                                                        <td name="SIP1_RegistrarServer" title="{{ item|truncate_dict:"VirtualParameters,SIP1 RegistrarServer,_timestamp" }}">{{ item|truncate_dict:"VirtualParameters,SIP1 RegistrarServer,_value" }}</td>
                                                        <td name="SIP2" title="{{ item|truncate_dict:"VirtualParameters,SIP2,_timestamp" }}">{{ item|truncate_dict:"VirtualParameters,SIP2,_value" }}</td>
                                                        <td name="SIP2_Status" title="{{ item|truncate_dict:"VirtualParameters,SIP2 Status,_timestamp" }}">{{ item|truncate_dict:"VirtualParameters,SIP2 Status,_value" }}</td>
                                                        <td name="SIP2_RegistrarServer" title="{{ item|truncate_dict:"VirtualParameters,SIP2 RegistrarServer,_timestamp" }}">{{ item|truncate_dict:"VirtualParameters,SIP2 RegistrarServer,_value" }}</td>


                                                        <td name="config_option">
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                    选项 <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li>
                                                                        <a data-toggle="modal" data-target="#configModal" style="cursor:pointer;">
                                                                            配置话机
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="{% url 'logfile' %}?logfile=20180713044420_7619_acs_config.xlsx.log">查看日志</a>
                                                                    </li>
                                                                    <li class="divider"></li>
                                                                    <li><a href="#">Separated link</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-success btn-xs ping">Ping</button>
{#                                                            {% if item.ping_status == 'online' %}#}
{#                                                                <button type="button" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>#}
{#                                                            {% elif item.ping_status == 'offline' %}#}
{#                                                                 <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-times-circle"></i></button>#}
{#                                                            {% endif %}#}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="profile1">
                                            <p>
                                                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer" style="text-align: center">
                                <i class="fa fa-chevron-circle-down" style="font-size: 18px;cursor:pointer;"></i>
                                <div class="btn-toolbar" role="toolbar" style="float:right;right: 30px;bottom: 8px;">
                                    <div class="btn-group">
                                        <a href="{{ 1|pageurl:request.get_full_path }}"><button type="button" class="btn btn-sm btn-default" value="1">首页</button></a>
                                        {% if page > 1 %}
                                            <a href="{{ page|pagecounter:-1|pageurl:request.get_full_path}}"><button type="button" class="btn btn-sm btn-default" value="{{ page|add:-1 }}"><<</button></a>
                                        {% endif %}
                                        {% for i in list_pagenum %}
                                            {% if page|add:i <= num_pages  %}
                                                <a href="{{ page|pagecounter:forloop.counter|pageurl:request.get_full_path }}"><button type="button" class="btn btn-sm btn-default" value="{{ page|add:forloop.counter }}">{{ page|add:forloop.counter }}</button></a>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page < num_pages %}
                                            <a href="{{ page|pagecounter:1|pageurl:request.get_full_path}}"><button type="button" class="btn btn-sm btn-default" value="{{ page|add:1 }}">>></button></a>
                                        {% endif %}
                                        <a href="{{ num_pages|pageurl:request.get_full_path }}"><button type="button" class="btn btn-sm btn-default" value="{{ page|add:num_pages }}">末页</button></a>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-default">共{{ num_pages }}页</button>
                                    </div>

{#                                    <div style="margin-left: 10px;float: left;">#}
{#                                        <select name="" id="list-nums" style="padding: 5px 0;">#}
{#                                            <option value="">20 条/页</option>#}
{#                                            <option value="">50 条/页</option>#}
{#                                            <option value="">100 条/页</option>#}
{#                                        </select>#}
{#                                    </div>#}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>
        <!--main content end-->

        <!-- Form Modal -->
        <div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title primary-color" id="myModalLabel" > 配置话机</h2>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
{#                            <div class="form-group">#}
{#                                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>#}
{#                                <div class="col-sm-10">#}
{#                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>#}
{#                                <div class="col-sm-10">#}
{#                                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">#}
{#                                </div>#}
{#                            </div>#}
                            <div style="display: inline;" id="fileicon">
                                <label style="cursor: pointer;" onclick="OpenFileUploadBox();"><span class="file-upload"><img src="/static/images/utils/file_upload.png" alt="">上传Excel表</span></label>
                                <div style='margin-left:25px;'>
                                    <span id="fileinfo"></span>
                                    <div id='file-progress' class="progress progress-striped active hidden" >
                                        <div class="progress-bar progress-bar-success" style="width: 0%"></div>
                                    </div>
                                    <div id="config-finish-tag" class="info-color hidden">配置已完成！！！</div>
                                </div>

                                <input class="hidden" id="file_upload" type="file" onchange="GetFilePath();" />

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseWindow();">关闭</button>
                        <button id="config_button" type="button" class="btn btn-primary" onclick="FileUpload();">确定</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- End Form Modal -->

{% endblock %}

{% block define-script %}
        <!--Page Level JS for Demo-->
{#        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>#}
{#        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>#}
{#        <!--Page Level JS -->#}
{#        <script src="/static/assets/plugins/messenger/js/messenger.min.js"></script>#}
{#        <script src="/static/assets/plugins/messenger/js/messenger-theme-future.js"></script>#}
{#        <!--Page Level JS for Demo-->#}
{#        <script src="/static/assets/plugins/messenger/js/demo/location-sel.js"></script>#}
{#        <script src="/static/assets/plugins/messenger/js/demo/theme-sel.js"></script>#}
{#        <script src="/static/assets/plugins/messenger/js/demo/demo.js"></script>#}
{#        <script src="/static/assets/plugins/messenger/js/demo/demo-messages.js"></script>#}
        <script>
        
            // 展开表格高度
            $('.panel-footer .fa').on('click', function(){
                var ele = $('#main_panel');
                var defaultHeight = "480px";
                var autoHeight = ele.css('height', 'auto').height();
                if ($(this).hasClass('fa-chevron-circle-down')){
                    ele.animate({height: autoHeight}, 500);
                    $(this).removeClass('fa-chevron-circle-down').addClass('fa-chevron-circle-up');
                }else{
                    ele.animate({height: defaultHeight}, 500);
                    $(this).removeClass('fa-chevron-circle-up').addClass('fa-chevron-circle-down');
                }
            });

            // 搜索框查询
            $('#search_button').on('click', function(){
                var search_keywords = $('#search_keywords').val();
                if(search_keywords != ""){
                    // alert(search_keywords);
                    window.location.href="{% url 'genieacs' %}?search_keywords=" + search_keywords;
                }

            });



            //DoughnutChart
            var doughnutData = [{
                    value: 300,
                    color: "#1ABC9C",
                    highlight: "#1ABC9C",
                    label: "Chrome"
                }, {
                    value: 50,
                    color: "#556B8D",
                    highlight: "#556B8D",
                    label: "IE"
                }, {
                    value: 100,
                    color: "#EDCE8C",
                    highlight: "#EDCE8C",
                    label: "Safari"
                }, {
                    value: 40,
                    color: "#CED1D3",
                    highlight: "#1F7BB6",
                    label: "Other"
                }, {
                    value: 120,
                    color: "#1F7BB6",
                    highlight: "#1F7BB6",
                    label: "Genesys"
                }

            ];


            $(function(){
                var ctx = document.getElementById("doughnut-chart-area").getContext("2d");
                window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {
                    responsive: true
                });

                // 获取日期时间并比对，不是当前日期行标注显示
                function p(s) {
                    return s < 10 ? '0' + s: s;
                }

                var mydate = new Date();
                var year = mydate.getFullYear();
                var month = mydate.getMonth() + 1;
                var date = mydate.getDate();
                var now = p(year) + '-' + p(month) + '-' + p(date);

                $('td[name="date"]').each(function () {
                    var tddate = $(this).text();
                    if( tddate != now){
                        $(this).parent().addClass('danger');
                    }
                });
                // end

                $('td[name="SIP1_Status"],td[name="SIP2_Status"]').each(function(){
                    var sip1 = $(this).text()
                    if(sip1=="Up"){
                        $(this).css('color','#0a610a');
                    }else{
                         $(this).css('color','#bb6666');
                    }
                })



            });

            // 文件上传加载函数
            function OpenFileUploadBox(){
                $('#file_upload').trigger("click");
            }



            function GetFilePath(){
                var file_data = $('#file_upload')[0].files[0];
                if(typeof(file_data) != "undefined"){  // 检测是否选择了文件
                    // console.log(file_data);
                    var file_type = file_data['type'];
                    var file_name = file_data['name'];
                    var msg_data = {
                            'msg_type': file_type,
                    }
                    msg_data = JSON.stringify(msg_data);
                    $("#config-finish-tag").text("").addClass('hidden');
                    $('#fileinfo').html(file_name);
                }else{
                    $('#fileinfo').html("");
                }

            }

            function FileUpload(){
                var file_data = $('#file_upload')[0].files[0];
                if(typeof(file_data) != "undefined"){  // 检测是否选择了文件
                    // console.log(file_data);
                    var file_type = file_data['type'];
                    var file_name = file_data['name'];
                    var msg_data = {
                            'msg_type': file_type,
                    }
                    msg_data = JSON.stringify(msg_data);

                    var formData = new FormData();  // 生成一个form表单
                    formData.append('file_data', file_data);
                    formData.append('msg_data', msg_data);

                    $.ajax({
                        url: '{% url "file_upload" %}',
                        type: 'POST',
                        data: formData,
                        processData: false,  // tell jQuery not to process the data
                        contentType: false,  // tell jQuery not to set contenyType
                        success: function(data){
                            var new_filename_obj = JSON.parse(data);
                            console.log(new_filename_obj.filename);
                            GetFileUploadProgress(file_data, new_filename_obj.filename);

                        }
                    }); // end ajax

                    // 清空file_upload文本域
    {#                var file = $("#file_upload");#}
    {#                file.after(file.clone().val(""));#}
    {#                file.remove();#}

                    $(".progress").removeClass('hidden');
                }else{
                    $("#config-finish-tag").text("未选择文件").removeClass('hidden');
                }
            }

            function GetFileUploadProgress(file_obj, new_filename){
                console.log(new_filename)

                var UploadProcessRefresh = setInterval(function(){
                    $.getJSON("file_upload_progress", {filename: file_obj.name}, function(callback){
                        console.log("upload progress:" + callback.recv_size);
                        if (file_obj.size == callback.recv_size){
                            // upload done
                            clearInterval(UploadProcessRefresh);
                            $.get("delete_cache_key/", {cache_key: file_obj.name}, function(callback){
                                console.log(callback);
                                ExecAcsScript(new_filename);
                            });

                            setTimeout(function(){
                                $('#file-progress').addClass('hidden');
                                $(".progress-bar").css("width", "0%").text("0%");
                            },1000);
                        }
                        var current_percent = (callback.recv_size/file_obj.size)*100 + "%";
                        $(".progress-bar").css("width", current_percent).text(current_percent);
                    });
                }, 1000);

            }
            // 文件上传加载函数 end

            function ExecAcsScript(filename) {
                $("#config-finish-tag").text("正在后台配置中，请稍等...").removeClass('hidden');
                var filename = filename;
                console.log(filename);
                if ( filename != "" ){
                    $.post("{% url 'config_phone' %}", {"filename": filename}, function(data){
                        // 清空file_upload文本域
                        var file = $("#file_upload");
                        file.after(file.clone().val(""));
                        file.remove();
                        $('#fileinfo').html("");
                        $("#config-finish-tag").text("配置完成").removeClass('hidden');
                        alert(data);
                    });
{#                    $.ajax({#}
{#                        url: '{% url "config_phone" %}',#}
{#                        type: 'GET',#}
{#                        data: {'filename': filename},#}
{#                        processData: false,  // tell jQuery not to process the data#}
{#                        contentType: false,  // tell jQuery not to set contentType#}
{#                        success: function(data){#}
{#                            // 清空file_upload文本域#}
{#                            var file = $("#file_upload");#}
{#                            file.after(file.clone().val(""));#}
{#                            file.remove();#}
{#                            $('#fileinfo').html("");#}
{#                            $("#config-finish-tag").text("配置完成").removeClass('hidden');#}
{#                        }#}
{#                    }); // end ajax#}
                }else {
                    $("#config-finish-tag").text("未选择文件").removeClass('hidden');
                }

            }

            function CloseWindow(){
                // 清空file_upload文本域
                var file = $("#file_upload");
                file.after(file.clone().val(""));
                file.remove();
                $('#fileinfo').html("");
                $("#config-finish-tag").text("").addClass('hidden');

            }

            // 获取url参数值
            function GetQueryString(name) {
                 var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                 var r = window.location.search.substr(1).match(reg);
                 if(r!=null)return  unescape(r[2]); return null;
            }

            // 搜索关键字高亮显示
            var search_keywords = GetQueryString("search_keywords");
            if ( search_keywords != null && search_keywords != "" ){
                $('#search_keywords').val(search_keywords);

                $('#main_panel td').each(function () {
                    if( $(this).attr("name") == "config_option" || $(this).children("input").attr("type") == "checkbox") {
{#                         console.log($(this).html());#}
                    }else{
                        var str = $(this).html();
{#                        re = new RegExp(search_keywords,"g"); //定义正则表达式#}
{#                        var Newstr = str.replace(re, '<span style="color:#FF1493; font-weight: 700;">' + search_keywords + '</span>');#}
{#                        $(this).html(Newstr)#}
                    }
                });
            }

            // 搜索窗口回车提交
            $("body").delegate("#search_keywords", "keydown", function(e){
                if(e.which == 13) {  //Enter key down
                    if(e.ctrlKey){
                        console.log("ctrl+enter");

                    }else{
                        e.preventDefault();
                        e.stopPropagation();
                        // send msg button clicked，调用发送按钮函数
                        $("#search_button").click();
                        return false;

                    }
                }
            });



            $('td .ping').on('click', function(){
                var IP = $(this).parent().siblings("td[name='IP']").text();
                console.log(IP);
                $.post("{% url 'check_ping' %}", {"IP": IP}, function(data){
                    alert(data);
                })
            })






        </script>

{% endblock %}